
body {
    background-image: url("../images/background.png");
}

div {
    margin: 10px;
    width: 35%;
	padding: 10px;
}


.intro,
.randomBox,
.scoreTracker,
.image,
.userTotal {
    background-color: white;
    border: solid 2px antiquewhite;
}

.jumbotron {
    padding: 5px;
    background-color: rgba(196, 107, 5, 0.911);
}

h1, 
span {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}

ul {
    padding: 10px;
}

ol {
    padding: 5px;
    font-size: 15px;
}

ul li{
    display: inline;
}

div.header, 
div.intro {
    width: 50%;
}

.randomBox, .scoreTracker {
    float: left;
    width: 15%;
    height: 80px;
    line-height: 30px;
}

.image {
    background-color: lightgrey;
}

.userTotal {
    width: 20%;
    height: 60px;
}

.images {
    clear: both;
}

.gemImage{
	height: 50px;
	margin: 5px;
}